@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ############################ */
/* css global */
/* ############################ */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}
a{
    color: inherit;
    transition: color 0.5s;
}
:root {
   --rouge: rgb(250, 74, 74);
   --couleur2:rgb(123,9,34);
   --text:#333;
   --ligth:#fff;
   --second:#e2e2e2;
   --box-shadow:2px 2px 10px 2px rgba(0,0,0,0.2)
}
html::-webkit-scrollbar {
    width: 0.5rem;
}
html::-webkit-scrollbar-thumb {
    background: var(--rouge);
    border-radius:3rem ;
}
html::-webkit-scrollbar-track {
    background: #000;
   
}
img{
    width: 100%;
}
section{
    padding: 50px 80px;
}
.btn{
    display: inline-block;
    padding: 0.7rem 1.2rem;
    background: var(--rouge);
    color: var(--ligth);
    font-weight: 500;
    text-transform: uppercase;
    border: 2px solid var(--rouge);
    border-radius: 5px;
    clip-path: polygon(100% 0%,93% 50%,86% 99%,0% 100%,7% 47%,13% 0%);
    transition: .5S ease-in-out;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,.2);
}
.btn::after{
    content: '';
    width: 0.2rem;
    height: 200px;
    background: #ffffff63;
    position: absolute;
    left: 20rem;
    top: -1rem;
    padding: 0.7rem 1.2rem;
    transform: rotate(20deg);
    transition: .2s ease-in-out;
}
.btn:hover{
    background: transparent;
    color: var(--rouge);
}
.btn:hover::after{
    left: -150px;
}
.section-heading{
    text-align: center;
    position: relative;
}
.section-heading h2{
    font-weight: 600;
    font-size: clamp(30px,4vw,50px);
    background: var(--ligth);
    position: relative;
    z-index: 4;
    display: inline-block;
    margin: 0 auto;
    padding: 0 1rem;
}
.section-heading h2 span{
    color: var(--rouge);
}
.section-heading::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 2px;
    background: var(--rouge);
    z-index: 2;
}
button{
    padding: 5px 10px;
    border: 1px solid var(--rouge);
    background: transparent;
    color: var(--rouge);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    color: inherit;
}
button:hover{
    color: var(--ligth);
    background-color: var(--rouge);
}
/* ############################ */
/* navigation */
/* ############################ */

nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    transition: .5s ease-in-out;
    background: var(--ligth);
}
nav.active{
    box-shadow: 0 5px 7px 0 rgba(0,0,0,.2);
}
/* logo texte */
.logo{
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--rouge);
    text-shadow: 2px 2px 4px #000000aa;
}
.navigations{
    display: flex;
    column-gap: 2.3rem;
}
.navigations li a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text);
}
.navigations li a:hover, .navigations li a.active {
    color: var(--rouge);
}
.navigations-icon{
    font-size: 1.3rem;
    z-index: 10000;
}
.navigations-icon .bx:hover{
    color: var(--rouge);
    cursor: pointer;
}
#menu-icon{
    display: none;
}
.search-container{
    position: absolute;
    top: 110%;
    right: -110%;
    transition: .2s ease-in-out;
}
.search-container input{
    padding: 12px;
    border-radius: 0.5rem;
    width: 280px;
    box-shadow: var(--box-shadow);
}
.search-container.active{
    right: 1rem;
}
.cart-container{
    position: absolute;
    top: 110%;
    right: -100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;
    background: var(--ligth);
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: .2s ease-in-out;
}
.cart-card{
    display: flex;
    column-gap: 1.7rem;
    align-items: center;
}
.cart-card img{
    width: 100px;
}
.cart-card h3{
    font-size: 1rem;
}
.cart-card .bx{
    font-size: 1.7rem;
    cursor: pointer;
}
.cart-card .bx:hover{
    color: var(--rouge);
}
.cart-container h2{
    font-size: 1.2rem;
}
.cart-container.active{
    right: 1rem;
}
.user-container{
    position: absolute;
    right: -700px;
    top: 110%;
    box-shadow: var(--box-shadow);
    padding: 20px;
    background: var(--ligth);
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: .5rem;
    transition: .2s ease-in-out;
}
.user-container h2{
    font-size: 1rem;
}
.user-container input{
    width: 100%;
    height: 30px;
    padding: 0.2rem;
    border-bottom: var(--rouge) 1px solid;
}
.user-container p{
    font-size: 13px;
}
.user-container .btn-user{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--rouge);
    color: var(--ligth);
    font-weight: 500;
    border-radius: .5rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.user-container .btn-user:hover{
    background: var(--couleur2);
    color: var(--ligth);
    border: 1px solid var(--rouge);
}
.user-container p a{
    color: var(--rouge);
    font-weight: 500;
    text-decoration: underline; 
}
.user-container p a:hover{
    color: var(--couleur2);
}
.user-container.active{
    right: 1rem;
}
/* ############################ */
/* home */
/* ############################ */
.home{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,1fr));
    align-items: center;
    gap: 1.5rem;
    background: var(--ligth);
}
.home-content span{
    font-weight: 600;
    text-transform: uppercase;
}
.home-content h1{
    font-size: clamp(35px,5vw,80px);
    margin-bottom: 1rem;
}
/* ############################ */
/* news */
/* ############################ */
.news-cont{
    margin-top: 2rem;
}
.news-cont .box{
    width: 100%;
    position: relative;
    overflow: hidden;
    background: var(--second);
}
.news-cont .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-cont .box .content{
    position: absolute;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 91%,0.5);
    overflow: hidden;
    transition: .2s ease-in-out;
}
.news-cont .box:hover .content{
    top: 0;
}
/* ############################ */
/* produits */
/* ############################ */

.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.products-box{
    position: relative;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}
.products-box img{
    transition: .5s ease-in-out;
}

.products-box h2{
    font-size: 1.2rem;
    font-weight: 600;
}
.products-box .starts .bx{
    color: rgb(255, 170, 0);
}
.products-container .bxs-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 1.6rem;
    background: var(--rouge);
    color: var(--ligth);
    cursor: pointer;
    border-radius: 1rem 0 0 0;
}
.products-container .bxs-cart:hover{
    background: var(--couleur2);
}
.products-container .products-box:hover img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transition: 0.5s ease-in-out;
}
    

/* ############################ */
/* les avis */
/* ############################ */

.reviews-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.reviews-box{
    box-shadow: var(--box-shadow);
    border-bottom: solid var(--couleur2) 3px;
    padding: 2rem;
    text-align: center;
}
.reviews-box:hover{
    background: var(--second);
}
.reviews-box img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.reviews-box .stars{
    color: rgb(255, 170, 0);
    margin-top: 0.5rem;
}
.reviews-box h2{
    font-size: 1rem;
}
.reviews-box p{
    margin: 1rem 0;
}
/* ############################ */
/* footer */
/* ############################ */

footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 1.5rem;
    color: var(--ligth);
    background: var(--text);
    padding: 50px 20px;
}
footer .social{
    margin-top: 0.5rem;
    display: flex;
    column-gap: 0.5rem;
}
footer .social .bx{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--rouge);
    transition: background.2s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
}
footer .social .bx:hover{
    background: var(--couleur2);
}
footer h2{
    margin-bottom: 1rem;
    font-weight: 600;
}
footer a{
    color: var(--rouge);
}
footer a:hover{
    color: var(--couleur2);
}
footer img{
    width: 50px;
    border-radius: 5px;
    display: flex;
    margin: 5px;
}
.copy{
    padding: 1rem 0;
    text-align: center;
    font-size: 13px;
    background: var(--ligth);
}

/* ############################ */
/* breackpoint responsive */
/* ############################ */

@media screen and (max-width: 1080px) {
    nav{
        padding: 18px 60px;
    }
    section{
        padding: 50px 60px;
    }
    
}
@media screen and (max-width: 991px) {
    nav{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    
}
@media screen and (max-width: 780px) {
    nav{
        padding: 12px 4%;
    }
    #menu-icon{
        display: block;
    }
    .navigations{
        position: absolute;
        top: -700px;
        left: 0;
        flex-direction: column;
        box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
        width: 100%;
        padding: 0 1rem;
        transition: 0.3s ease-in-out;
        z-index: 800;
        background: var(--ligth);
        color: var(--text);
    }
    .navigations.active{
        top: 100%;
    }
    .navigations a{
        display: block;
        margin: 1rem 0;
    }
    .navigations-icon{
        display: flex;
        column-gap: 1rem;
    }
    .home {
        /* On crée un espace vide pour compenser la hauteur du menu fixe */
        padding-top: 150px; 
        
        /* On arrête de centrer au milieu sur mobile pour éviter que le texte remonte */
        align-items: start; 
        
        /* On réduit un peu la hauteur minimum pour que ça respire mieux sur petit écran */
        padding-bottom: 50px;
    }
    .home-content h1 {
        /* On ajuste la taille de ton hook pour qu'il soit percutant mais adapté au mobile */
        font-size: clamp(28px, 7vw, 45px); 
    }
    .home img {
        /* On réduit la largeur à 85% du conteneur pour créer des marges */
        width: 85%; 
        
        /* On s'assure qu'elle ne dépasse jamais une certaine taille */
        max-width: 400px; 
        
        /* Pour centrer une image qui n'est pas à 100% de largeur */
        display: block;
        margin-left: auto;
        margin-right: auto;
        
        /* Un petit espace au-dessus pour détacher l'image du bouton */
        margin-top: 2rem; 
    }
    @media screen and (max-width: 380px){
        .cart-card img{
            width: 70px;
        }

        .cart-container{
            top: -700px;
        }
    }

}


